Flask==2.2.5
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Bcrypt==1.0.1
email-validator==2.0.0
python-dotenv==1.0.0
psycopg2-binary==2.9.6
gunicorn==21.2.0
Werkzeug==2.3.6
Jinja2==3.1.2
itsdangerous==2.1.2
SQLAlchemy==2.0.19
MarkupSafe==2.1.3